html {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 50, 100, 0.7);
}

header {
    height: 200px;
    background-image: url("comic_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: center;
    background-position: 50% 50%;
}
section {
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    width: 75%;
    margin: 10px auto;
    padding: 15px; 
    text-align: center;
}

label, select, label > span {
    white-space:nowrap;
}

label {
    border: 3px solid pink; 
}

.type {
    white-space: normal;
}

#submitbutton {
    text-align: center;
    margin: auto;
}